* {
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
}

h1 {
    font-size: 3.3vh;
}

h2 {
    font-size: 2.5vh;
}

p {
    font-size: 1.65vh;
}

a {
    font-size: 1.65vh;
}

hr {
    margin: 1.25vh;
}

.viewport {
    height: 100vh;
    width: 100vw;
    background-image: url(img/test-image.jpg);
    background-position: center;
    background-size: cover;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
}

.nav_pane {
    padding: 1em;
    gap: 1em;
    width: min-content;
    align-content: start;
    display: grid;
    float: left;
}

.nav_logo {
    color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: fit-content;
}

.nav_menu {
    list-style: none;
    min-width: fit-content;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1em;
}

.nav_body {
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 50cqh;
    height: auto;
    transition: 0.4s ease-out;
}

.nav_body:hover {
    transform: scaleX(1.15);
    transition: 0s ease-in;
}

.nav_body:hover * {
    color: darkviolet;
    transition: 0s ease-out;
}

.nav_title:hover {
    color: darkviolet;
    transition: 0s ease-out;
}

.nav_title {
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    font-size: 1.65vh;
    padding-left: 1cqw;
    padding-right: 1cqw;
    transition: 0.4s ease-out;
    float: left;
    text-transform: uppercase;
    color: lightpink;
}

.dropdown {
    list-style: none;
}

.dropdown .dropdown_header {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-auto-flow: column;
}

.dropdown_header ion-icon {
    margin-right: 0.5vw;
    align-self: center;
    width: 1.65vh;
    height: 1.65vh;
    float: right;
    color: lightpink;
    transition-duration: 0.25s;
}

.dropdown_body {
    display: none;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: rgba(0, 0, 0, 50%);
}

.dropdown:hover .dropdown_body {
    display: grid;
}

.dropdown:hover .dropdown_header {
    transform: scaleX(1.15);
}

.dropdown:hover .dropdown_header ion-icon {
    rotate: 90deg;
    transition-duration: 0.25s;
}

.dropdown_body:hover {
    display: grid;
}

.main_pane {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 50%);
    color: white;
}

.error_pane {
    padding: 1rem;
    width: max-content;
    margin: auto; /* center object */
    text-align: center;
    background-color: rgba(0, 0, 0, 50%);
    color: white;
    border-radius: 1cqh;
}
