<!doctype html>

<html lang="en-ca">
    <head>
        <title>Blog Post Template | Cutieguwu</title>
        <include src="includes/meta.html" />
    </head>
    <body>
        <div class="viewport">
            <nav class="pane_nav">
                <include src="includes/nav_logo.html" />
                <include src="includes/nav_menu.html" />
                <div class="location">
                    <h4 class="location_header">You are here:</h4>
                    <h5 class="location_page">Blog - Blog Post Template</h5>
                </div>
                <include src="includes/nav_quick_links.html" />
            </nav>
            <div class="pane_blog">
                <div class="blog_body">
                    <div class="header">
                        <h1 class="title">Blog Post Template</h1>
                        <p class="date">Posted: 01 January, 2025</p>
                        <p class="date">Last Edited: 01 January, 2025</p>
                    </div>
                    <div class="body">
                        <p>Blog Post Content</p>
                    </div>
                </div>
                <include src="includes/tailer.html" />
            </div>
            <div class="pane_spacer">
                <include src="./includes/blog_recent_posts.html" />
                <div class="spacer_container"><p>#AD</p></div>
            </div>
        </div>
        <include src="includes/footer.html" />
        <include src="includes/scripts.html" />
    </body>
</html>
