<!doctype html>

<html lang="en-ca">
    <head>
        <title>Main Template | Cutieguwu</title>
        <include src="includes/meta.html" />
    </head>
    <body class="viewport">
        <nav class="pane_nav">
            <include src="includes/nav_logo.html" />
            <include src="includes/nav_menu.html" />
            <div class="location">
                <p class="location_header">You are here:</p>
                <p class="location_page">Main Template</p>
            </div>
            <include src="includes/nav_quick_links.html" />
        </nav>
        <div class="pane_main"></div>
        <div class="pane_spacer">
            <div class="spacer_container"><p>#AD</p></div>
            <div class="spacer_container"><p>#AD</p></div>
        </div>
        <include src="includes/scripts.html" />
    </body>
</html>
