.footer {
    margin: 0;
    padding: var(--spacing-horizontal);
    width: min-content;

    background-color: var(--background-2);
    border-top-right-radius: var(--border-radius-large);

    font-size: 1.65vh;
    white-space: nowrap;

    position: fixed;
    bottom: 0;
}
