.layout_row {
    display: grid;
    grid-auto-flow: column;
    gap: var(--spacing-horizontal);

    .item {
        padding: calc(var(--spacing-horizontal) * 2);

        background-color: var(--background-1);
        border-radius: var(--border-radius-leaf);

        .title {
            text-align: center;
        }
    }
}

.layout_row + .layout_row {
    margin-top: var(--spacing-horizontal);
}

@media only screen and (max-width: 500px) {
    .layout_row {
        grid-auto-flow: row;
    }
}
