.pane_nav .quick_links {
    --item-padding: 0.25rem;

    justify-content: space-between;

    /*
    To colour the icons, apply inline styling.
    */

    a {
        background-color: var(--background-2);

        transition: var(--transition-fade);

        ion-icon {
            width: var(--item-size);
        }
    }

    a:hover {
        transition: var(--transition-cut);
        transform: var(--transform-scale-x) var(--transform-scale-y);
    }

    .phantom {
        width: calc(var(--item-size) + calc(var(--item-padding) * 2));

        /*
        Fake hiding the element.

        Due to how flexboxes function, settings `display: none`
        will result in the box just scaling as if the element
        never existed.

        phantom needs to sit beside a element in hierarchy, otherwise
        phantom will inherit from a like this:

        .pane_nav > .quick_links > a > .phantom
        */
        background-color: inherit;
    }
}

.gitea {
    color: var(--accent-green);
}

.github {
    color: var(--accent-blue);
}

.license {
    color: var(--accent-indigo);
}

.issue_tracker {
    color: var(--accent-magenta);
}

.rss {
    color: var(--accent-orange);
}
