.nav_title {
    /* Need to force inheritence, otherwise <a> would require overrides for all color states from base styling for element. */
    color: inherit;
    text-decoration: inherit;

    font-family: var(--font-family-generic);
    font-weight: bold;
    white-space: nowrap;
    margin: inherit;
    padding: 0 var(--spacing-horizontal);
    transition: var(--transition-fade);
    display: block;
}

.nav_title:hover {
    color: var(--highlight-hover);
    transition: var(--transition-cut);
}
