@use "a_tailer";

.pane_error {
    width: max-content;

    margin: auto; /* center object */

    > .body,
    .tailer {
        background-color: var(--background-2);
        border-radius: var(--border-radius-leaf);
        padding: var(--spacing-horizontal);

        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .pane_error {
        width: 100%;

        margin-top: var(--margin-pane);
        margin-bottom: var(--margin-pane);
    }
}
