@use "a_tailer";

.pane_error {
    width: max-content;

    margin: auto; /* center object */

    .error_body,
    .tailer {
        background-color: var(--background-2);
        border-radius: var(--border-radius-leaf);
        padding: var(--spacing-horizontal);

        text-align: center;
    }
}
