@use "a_tailer";

.pane_main {
    flex: 1;
    flex-direction: column;

    margin: var(--margin-pane);

    justify-content: center;

    .main_body,
    .tailer {
        background-color: var(--background-2);
        border-radius: var(--border-radius-leaf);
        padding: var(--spacing-horizontal);

        text-align: center;
    }
}
