.pane_spacer {
    margin: var(--margin-pane);
    padding: 0;

    width: 10vw;

    display: grid;
    grid-auto-flow: row;
    gap: var(--spacing-menu-gap);

    position: sticky;
    top: var(--margin-pane);
    bottom: var(--margin-pane);
    right: 0;

    .spacer_container {
        margin: 0;
        padding: var(--spacing-horizontal);
        background-color: var(--background-2);
        height: calc(
            50vh - var(--margin-pane) - calc(
                    var(--spacing-menu-gap) / 2
                ) - calc(var(--spacing-horizontal) * 2)
        );
        flex: 1;
        border-radius: var(--border-radius-leaf);

        /* Vertical Text Align */
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            text-align: center;
        }
    }
}
