@use "nav_logo";
@use "nav_menu";
@use "nav_location";
@use "nav_quick_links";

.pane_nav {
    margin: var(--margin-pane);
    padding: 0;
    gap: var(--spacing-menu-gap);
    width: min-content;
    align-content: start;

    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto auto 1fr max-content;

    color: var(--accent-pink);
}
