@use "nav_logo";
@use "nav_menu";
@use "nav_location";
@use "nav_quick_links";

.pane_nav {
    margin: var(--margin-pane);

    width: min-content;
    height: min-content;

    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(4, min-content);
    gap: var(--spacing-menu-gap);
    align-content: start;

    position: sticky;
    top: var(--margin-pane);
    left: var(--margin-pane);

    color: var(--accent-pink);
}

@media only screen and (max-width: 500px) {
    .pane_nav {
        width: 75%;
    }
}
